<div class="evento-bg text-center">
    <!-- Título -->
    <div>
        <p class="titulo-boda">LUGAR DEL EVENTO</p>
    </div>

    <!-- Imagen -->
     <div class="logo-container">
        <div class="logo-separador">
            <div class="contenido">
                <img src="assets/imagenes/lugarEvento.svg" class="lugar-evento">
            </div>
        </div>
     </div>
     
    <!-- Descripción del Evento -->
    <div>
        <p class="titulo">Jardín de Eventos "Alilo by Muuk"; <br> Tepoztlán, Morelos.</p>
    </div>
    
    <!-- link de evento-->
    <div>
        <button class="accionBoton button-actions" (click)="visualizarUbicacion()">Ver ubicación</button>
    </div>
</div>
