<div class="row justify-content-center align-items-center evento-bg text-center">

    <!-- Título -->
    <div class="col-12">
        <p class="titulo-boda">LUGAR DEL EVENTO</p>
    </div>

    <!-- Imagen -->
    <div class="col-12 col-md-8 col-lg-6">
        <img src="assets/imagenes/lugarEvento.svg" class="lugar-evento mb-3">
    </div>

    <!-- Descripción del Evento -->
    <div class="col-12 col-md-10 col-lg-8">
        <p class="titulo">Jardín de Eventos "Alilo by Muuk"; <br> Tepoztlán, Morelos.</p>
    </div>
    
    <!-- link de evento-->
    <div class="col-12 col-md-10 col-lg-8">
        <button class="accionBoton button-actions" (click)="visualizarUbicacion()">Ver ubicación</button>
    </div>
</div>
