.regalos {
    /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.mensaje-separador-container {
    width: 100%;
    background-image: url('/assets/imagenes/fondoPresentacion.svg');
    background-size: cover;
    background-position: center;
    padding: 25px;
    display: flex;
    justify-content: center;
}

/* Contenido del mensaje */
.mensaje-separador {
    margin-top: 5px;
    border-radius: 10px;
    max-width: 90%;
    text-align: center;
}
.companeros {
    font-size: 18px;
    font-family: 'Crimson Text';
    line-height: 1;
    text-align: center
}

.mensaje {
    font-size: 18px;
    font-family: 'Crimson Text';
    line-height: 1;
    text-align: center
}

/* Estilo del título */
.titulo-boda {
    margin-top: 15px; /* Subir más */
}

.descripcion {
    font-family: 'Times New Roman';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.mesas-regalos {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre tarjetas */
    margin-top: -10px;
}

.mesa {
    text-align: center;
    max-width: 150px; /* Ajuste para que tenga más espacio */
    height: 94px;
    cursor: pointer;
    background-color: white;
    padding: 15px; /* Espaciado interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.mesa img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

.mesa-texto {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #959595;
    margin-top: 10px;
}


/* Línea separadora */
.separador {
    width: 200px;
    height: 2px;
    background-color: #EDDBDB;
    margin: 8px auto;
    margin-top: 40px;
    margin-bottom: 30px;
}
