<div class="regalos text-center">
    <!-- Título de la boda -->
    <div class="titulo-boda">
        <p class="descripcion">mesa de <br> regalos</p>
    </div>

    <!-- Contenedor con imagen de fondo a ancho completo -->
    <div class="mensaje-separador-container">
        <div class="mensaje-separador">
            <div class="mensaje-contenido">
                <p class="mensaje">
                    ¡Tu presencia es nuestro regalo más grande!
                </p>
                <p class="companeros">Si deseas obsequiarnos algún presente, agradeceríamos que fuera de alguna de las siguientes opciones: </p>
            </div>
        </div>
    </div>

    <!-- Sección de imágenes de mesas de regalos -->
    <div class="mesas-regalos">
        <div class="mesa" (click)="abrirEnlace('liverpool')">
            <img src="assets/imagenes/liverpool.png" alt="Liverpool">
            <p class="mesa-texto">Ver mesa de regalos</p>
        </div>
        <div class="mesa" (click)="abrirEnlace('palacio')">
            <img src="assets/imagenes/palacioHierro.png" alt="Palacio de Hierro">
            <p class="mesa-texto">Ver mesa de regalos</p>
        </div>
    </div>

    <div >
        <hr class="separador">
    </div>
</div>
