<div class="row justify-content-center align-items-center evento-bg text-center">
    <div class="col-12 col-md-6">
        <!-- Título -->
        <p class="titulo-boda">CÓDIGO DE <br> VESTIMENTA</p>

        <!-- Mensaje -->
        <p class="mensaje">
            Al ser un día tan especial e importante para nosotros, te pedimos seguir el código de
            vestimenta sugerido para nuestro evento:
        </p>

        <!-- Opciones de vestimenta -->
        <p class="opciones">
            • Formal &nbsp; &nbsp; • Coctail &nbsp; &nbsp; • Etiqueta
        </p>

        <!-- Advertencia -->
        <div class="alerta">
            Evita usar tenis o botas, mezclilla, los colores blanco, rosa y beige (en ninguna de sus tonalidades)
        </div>
    </div>
</div>
