<div class="text-center">
    
    <!-- Contenedor con imagen de fondo a ancho completo -->
    <div class="mensaje-separador-container">
        <div class="mensaje-separador">
            <div class="mensaje-contenido">
                <p class="mensaje">
                    código de <br> vestimenta
                </p>
                <p class="companeros">Al ser un día tan especial e importante para nosotros, te pedimos seguir el código
                    de
                    vestimenta sugerido para nuestro evento:</p>
            </div>
        </div>
    </div>
    
    <!-- Opciones de vestimenta -->
    <div class="opciones-container">
        <p class="opciones text-center">
            • Formal &nbsp; &nbsp; • Coctail &nbsp; &nbsp; • Etiqueta
        </p>
    </div>

    <!-- Advertencia -->
    <div class="alerta-container">
        <div class="alerta text-center">
            Evita usar tenis o botas, mezclilla, los colores blanco, rosa y beige (en ninguna de sus tonalidades)
        </div>
    </div>
</div>