<div class="asistencia text-center">
    <!-- Título de la boda -->
    <div class="titulo-boda">
        <p class="descripcion">confirma tu <br> asistencia</p>
    </div>
    
    <!-- Contenedor con imagen de fondo a ancho completo -->
    <div class="mensaje-separador-container">
        <div class="mensaje-separador">
            <div class="mensaje-contenido">
                <p class="mensaje">
                    Agradeceremos su confirmación de asistencia antes del:
                </p>
                <p class="companeros">31 de marzo del 2025</p>
            </div>
            <div>
                <button class="accionBoton button-actions" (click)="confirmarAsistencia()">Confirmar aquí</button>
            </div>
        </div>
    </div>

    <div class="texto">
        <div class="texto-container">
            <div class="columna-padre">
                <p class="mensaje-principal">no niños</p>
                <p class="mensaje-secundario">Decidimos que nuestra boda será un  evento solo para adultos agradecemos tu comprensión</p>
            </div>
        </div>
    </div>
</div>