/* Contenedor general */
.container {
    padding: 20px;
}
.titulo-boda {
    font-family: 'Times New Roman', serif;
    font-size: clamp(14px, 2vw, 16px);
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3E3F4F;
    margin-top: 10px;
}

/* Mensaje */
.mensaje {
    font-family: 'Crimson Text', serif;
    font-size: clamp(14px, 1.8vw, 15px);
    color: #555;
    line-height: 1.2;
    text-align: center;
    margin: 8px auto;
}

.accionBoton {
    background-color: #6A9065; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    width: 185px; /* Ancho fijo */
    padding: 10px 20px;
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px;
    cursor: pointer;
}
