.asistencia {
    background-color: #F6EEEE;
    /* Color de fondo */
    padding: 20px;
    /* Espaciado interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 50px;
}

.titulo-boda {
    margin-top: -30px;
    margin-bottom: -20px;
}

.descripcion {
    font-family: 'Times New Roman';
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 5px;
   
}

/* Contenedor con imagen de fondo */
.mensaje-separador-container {
    width: 110%;
    background-image: url('/assets/imagenes/fondoAsistencia.svg');
    background-size: cover;
    background-position: center;
    padding: 68px 0;
    display: flex;
    justify-content: center;
}

/* Botón de acción */
.accionBoton {
    background-color: #6A9065;
    /* Color de fondo */
    color: white;
    border: none;
    width: 185px;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Estilo para los botones */
.accionBoton:hover {
    background-color: #556c54;
    /* Efecto hover */
}

/* Contenido del mensaje */
.mensaje-separador {
    padding: 5px;
    border-radius: 10px;
    max-width: 75%;
    text-align: center;
}

.mensaje {
    margin-top: -30px;
    font-size: 19px;
    font-family: 'Crimson Text';
    line-height: 1;
    text-align: justify
}

.companeros {
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Urbanist';
    line-height: 1;
    text-transform: uppercase;
}

.mensaje-principal {
    margin-top: 5%;
    font-size: 20px;
    font-family: 'Urbanist';
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.mensaje-secundario {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Urbanist';
    line-height: 1;
    letter-spacing: 2px;
    color: #1D1D1B;
}

.columna-padre {
    max-width: 90%; /* Ajusta el porcentaje según lo necesites */
    margin: 0 auto; /* Centra el contenido */
}

.texto-container {
    margin-top: -50px;
}


