<div class="container d-flex flex-column align-items-center justify-content-center position-relative">

    <!-- Confirmar asistencia -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center">
                <p class="titulo-asistencia">CONFIRMA TU <br> ASISTENCIA</p>
                <p class="mensaje">
                    Agradeceremos su confirmación de asistencia antes del:
                </p>
                <p class="mensaje-secundario">
                    31 DE MARZO DEL 2025
                </p>
            </div>
        </div>
    </div>

    <!-- Link de evento-->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center">
                <button class="accionBoton button-actions" (click)="confirmarAsistencia()">Confirmar aquí</button>
            </div>
        </div>
    </div>

    <!-- Advertencia -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center">
                <p class="titulo-advertencia">NO NIÑOS</p>
                <p class="mensaje">
                    Decidimos que nuestra boda será un evento solo para adultos,
                    agradecemos tu comprensión
                </p>
            </div>
        </div>
    </div>
</div>