/* Contenedor principal */
.container {
    width: 100%; /* Mantener un margen en los costados */
    margin: auto;
    padding: 0px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Logo responsivo */
.logo-invitacion {
    max-width: 80%;
    height: auto;
}

/* Mensaje con imagen de fondo */
.mensaje-separador-container {
    background-size: contain; /* Ajustar mejor la imagen */
    padding: 20px 10px;
}

/* Texto de mensaje */
.mensaje {
    font-size: 14px; /* Reducir tamaño para celulares */
}

/* Línea separadora */
.separador {
    width: 80%; /* Ajustar a la pantalla */
}

/* Contenedor de padres */
.padre-container {
    flex-direction: column; /* Hacerlo en columna en pantallas pequeñas */
    align-items: center;
    text-align: center;
}

/* Quitar separador vertical en celular */
@media (max-width: 600px) {
    .separador-vertical {
        display: none;
    }
}
