<div class="container d-flex flex-column align-items-center justify-content-center position-relative">

    <!-- Logo -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="w-100 text-center">
                <img src="assets/imagenes/invitacion.svg" class="logo-invitacion mb-3">
            </div>
        </div>
    </div>

    <!-- Título y Nombres -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center">
                <p class="titulo-boda">Nuestra Boda</p>
                <p class="nombre">Daniela <span class="nombre-y">y</span> Juan M.</p>
                <p class="mensaje">Algunos momentos brillan por sí solos, pero compartirlos con nuestros seres queridos los hacen realmente inolvidables...</p>
            </div>
        </div>
    </div>

    <!-- Separador -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <hr class="separador">
        </div>
    </div>

    <!-- Padres -->
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="text-center">
                <p class="companeros">EN COMPAÑÍA DE <br> NUESTROS PADRES</p>
                <div class="padres">
                    <div class="columna-padre">
                        <p class="nombre-padre">Leticia Escalante</p>
                        <p class="nombre-padre">José Luis Rosales</p>
                    </div>
                    <div class="columna-padre">
                        <p class="nombre-padre">Leonor Hernández</p>
                        <p class="nombre-padre">Juan M. Pérez V.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-lugar-evento></app-lugar-evento>
<app-codigo-vestimenta></app-codigo-vestimenta>