<div class="container d-flex flex-column align-items-center justify-content-center py-4" style="min-height: 100vh;">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card-custom w-100 p-3 text-center">
                <img src="assets/imagenes/invitacion.svg" class="img-fluid mb-3">
            </div>
        </div>
    </div>
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="py-4 text-center">
                <h2 class="mt-3">Nuestra Boda</h2>
                <p class="px-3">Algunos momentos brillan por sí solos, pero compartirlos con nuestros seres queridos los hacen realmente inolvidables...</p>
                <h5 class="mt-4">Daniela & Juan M.</h5>
                <p class="subtitle">En compañía de nuestros padres</p>
                <p>Leticia Escalante & José Luis Rosales <br> Leonor Hernández & Juan M. Pérez V.</p>
            </div>
        </div>
    </div>
</div>
