<div class="container text-center">
    <!-- Logo -->
    <div class="logo mb-3">
        <img src="assets/imagenes/invitacion.svg" class="logo-invitacion img-fluid">
    </div>

    <!-- Título de la boda -->
    <div class="titulo-boda">
        <p class="descripcion">Nuestra Boda</p>
        <p class="nombre">Daniela <span class="nombre-y">y</span> Juan M.</p>
    </div>

    <!-- Contenedor con imagen de fondo a ancho completo -->
    <div class="mensaje-separador-container">
        <div class="mensaje-separador">
            <div class="mensaje-contenido">
                <p class="mensaje">
                    Algunos momentos brillan por sí solos, pero compartirlos con nuestros seres queridos los hacen realmente inolvidables...
                </p>
                <hr class="separador">
                <p class="companeros">EN COMPAÑÍA DE <br> NUESTROS PADRES</p>
            </div>
        </div>
    </div>

    <!-- Sección de padres -->
    <div class="texto mt-3">
        <div class="row justify-content-center">
            <div class="col-6 col-md-5">
                <p class="nombre-padre">Leticia Escalante</p>
                <p class="nombre-padre">José Luis Rosales</p>
            </div>
            <div class="col-6 col-md-5">
                <p class="nombre-padre">Leonor Hernández</p>
                <p class="nombre-padre">Juan M. Pérez V.</p>
            </div>
        </div>
    </div>
</div>
