<div class="regalos text-center">
    <!-- Título de la sección -->
    <div class="titulo-boda">
        <p class="descripcion">sugerencias<br>de hospedaje</p>
    </div>

    <!-- Contenedor de las tarjetas de hospedaje -->
    <div class="contenedor-hospedajes">
        <div class="card-hospedaje">
            <p class="nombre-hotel">HOTEL EL GUARDIAN</p>
            <button class="boton-ver" (click)="abrirEnlace('guardian')">Ver aquí</button>
        </div>
        <div class="card-hospedaje">
            <p class="nombre-hotel">HOTEL NUEVO AMANECER</p>
            <button class="boton-ver" (click)="abrirEnlace('amanecer')">Ver aquí</button>
        </div>
        <div class="card-hospedaje">
            <p class="nombre-hotel">HOTEL SIERRA NORTE</p>
            <button class="boton-ver" (click)="abrirEnlace('sierranorte')">Ver aquí</button>
        </div>
    </div>
</div>
